/* Shortcodes */
.private {
  background: #5e2222;
  color: #f88;
  padding: 0.5em;
  border: solid 3px #cc6565;
}
.private::before {
  content: "------Private------";
  display: block;
  font-weight: bolder;
}

.steam-link {
  width: 450px;
  height: 200px;
  max-width: 100%;
}

/* Custom */
.sep {
  width: 100%;
}
hr:not(.sep) {
  border: dashed 1px #999;
  width: 90%;
}

.post-header > a {
  padding-right: 0.3rem;
}

article > h1, article > h2, article > h3, article > h4, article > h5 {
  margin: 1.75em 0 0.7em 0;
  padding: 0.3em 1em 0.1em 0.5em;
  border-top: 0.05em solid;
  border-color: #555;
  width: 95%;
}

article > h1 { border-left: 0.5em  solid; }
article > h2 { border-left: 0.4em  solid; }
article > h3 { border-left: 0.3em  solid; }
article > h4 { border-left: 0.25em solid; }
article > h5 { border-left: 0.15em  solid; }

.post-nav {
  display: flex;
  justify-content: space-between;
}

/* Tags list */
.terms ul {
  font-size: 1.6rem;
}
.terms li {
  margin: 0;
}

/* Highlight.js */
.hljs-wrap pre code {
  white-space: pre;
  word-wrap: normal;
  overflow-wrap: break-word;
  border-radius: 0.4em;
  background: #282c34;
  margin-top: 0.6rem;
  z-index: 1;
  display: inline-block;
}

/* hljs:row-number */
.hljs-wrap pre {
  counter-reset: rowNumber;
  display: flex;
  white-space: pre;
  overflow-wrap: break-word;
  flex-direction: column;
  z-index: 2;
}
.hljs-wrap span.row-number::before {
  counter-increment: rowNumber;
  content: counter(rowNumber);
  min-width: 3rem;
  display: inline-block;
  color: #888;
  background: #282c34;
  border-right: 1px solid #999;
  margin-right: 10px;
  text-align: center;
  position: sticky;
  left: 0;
  z-index: 3;
}

/* hljs:lang-name */
.hljs-wrap pre::before {
  display: inline-block;
  content: attr(data-language);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0.3em 0.3em 0 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 0.2rem;
  margin-top: 0.6rem;
  color: #ccc;
  background: #444;
  z-index: 0;
}

/* Code Copy button */
.copy-button{
  display: inline;
  justify-content: right;
  align-items: right;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0 0.5em;
  height: 30px;
  width: 120px;
  border: thick double #ddd;
  border-radius: 0.2em;
  line-height: 1;
  font-weight: semi-bold;
  background: #1d1f21;
  color: #fff;
  cursor: pointer;
}
.copy-button:hover{
  background: #777
}

/* TOC */
.xToc {
  border: 1px solid #2277EE;
  border-radius: 0.35em;
  width: 65%;
  padding: 1.1em 1.5em 0.3em 1.2em;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.xToc ul {
  list-style-type: none;
}
.xToc li {
  padding-top: 0;
}
.xToc a {
  color: #333 !important;
  font-size: 0.95em !important;
  font-weight: normal;
  display: inline-block;
  border-bottom: dashed 1px #555;
}
.xToc a:hover {
  color: #2277EE !important;
}
