/* Segoe UI */
@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}

/* Inconsolata */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inconsolata-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/inconsolata-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/inconsolata-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/inconsolata-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/inconsolata-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/inconsolata-v21-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

#brand > h1 {
  font-family: SegoeUI !important;
}
pre, code {
  font-family:
    'Consolas',
    'Ricty Diminished',
    'Inconsolata';
}
article, time {
  font-family:
    SegoeUI,
    Meiryo,
    "メイリオ",
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-weight: 400;
}
